<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/dauryuk"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dauryuk"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCapstone"
        tools:targetApi="31">
        <activity
            android:name=".camera.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".reward.RewardActivity"
            android:exported="false" />
        <activity
            android:name=".recomendation.RecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".news.ui.detail.NewsDetailActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".news.NewsActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ForgotPasswordActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
            <meta-data
                android:name="com.google.android.gms.wallet.api.enabled"
                android:value="true" />
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </provider>
    </application>

</manifest>
